@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 74%);
    --space-mono: 'Space Mono', monospace;

    --fw-large: 700;
    --fw-medium: 500;
    --fw-small: 400;

    --fs-large: 2.5rem;
    --fs-medium: 1.5rem;
    --fs-small: 1rem;
}

body{
    background-color: var(--light-grayish-cyan );
    font-family: var(--space-mono);
    font-weight: var(--fw-small);
    font-size: var(--fs-small);
}

/* frontend mentor signature */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#logo{
    display: grid;
    place-items: center;
    margin: auto;
    margin: 3rem 0;
}

/* Container style */

#container{
    background: var(--white);
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    margin: auto;
    padding: 1.5rem;
    border-radius: 10px 10px 0 0;
}

/* calculation-container style */

#container .container-left{
    padding: 1rem;
    border-radius: 10px;
    width: 50%;
}

.container-left .bill{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.container-left .bill .bill-label{
    margin-bottom: 0.5rem;
    font-weight: var(--fw-large);
    font-size: var(--fs-small);
    color: var(--very-dark-cyan);
}

.container-left .bill input{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: var(--fs-small);
    font-weight: var(--fw-medium);
    text-align: right;
    color: var(--very-dark-cyan);
    background: var(--very-light-grayish-cyan);
}

.container-left .bill input:focus{
    outline: none;
}

.container-left .bill input[type=number]::-webkit-inner-spin-button,
.container-left .bill input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container-left .bill input[type=number] {
    -moz-appearance: textfield;
}

#Bill{
    background: url(./images/icon-dollar.svg) var(--very-light-grayish-cyan) no-repeat;
    background-position: 1rem 50%;
    background-size: 0.8rem;
    padding-left: 3rem;
    font-family: var(--space-mono);
    font-size: var(--fs-medium);
    font-weight: var(--fw-large);
    color: var(--very-dark-cyan);
}

#container .tip{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.container-left .tip .tip-label{
    margin-bottom: 0.5rem;
    font-weight: var(--fw-large);
    font-size: var(--fs-small);
    color: var(--very-dark-cyan);
}

.container-left .tip .tip-btn{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.container-left .tip .tip-btn button{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-family: var(--space-mono);
    font-size: var(--fs-small);
    font-weight: var(--fw-large);
    text-align: center;
    color: var(--white);
    background: var(--very-dark-cyan);
    cursor: pointer;
}

.container-left .tip .tip-btn button:hover{
    background: var(--strong-cyan);
}

.container-left .tip .tip-btn .custom-tip{
    padding: 10px;
    width: 100px;
    background: var(--very-light-grayish-cyan);
    color: var(--very-dark-cyan);
    font-family: var(--space-mono);
    font-size: var(--fs-small);
    font-weight: var(--fw-large);
    text-align: left;
    border: none;
}

.container-left .tip .tip-btn .custom-tip:focus{
    outline: none;
}

.container-left .tip .tip-btn .custom-tip::-webkit-inner-spin-button,
.container-left .tip .tip-btn .custom-tip::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container-left .tip .tip-btn .custom-tip {
    -moz-appearance: textfield;
}

.container-left .people{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-error{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-left .people .input-error .people-label{
    margin-bottom: 0.5rem;
    font-weight: var(--fw-large);
    font-size: var(--fs-small);
    color: var(--very-dark-cyan);
}

.container-left .people .input-error .error{
    margin-bottom: 0.5rem;
    font-weight: var(--fw-large);
    font-size: var(--fs-small);
    font-size: 0.8rem;
    color: var(--red);
    opacity: 0;
}

.container-left .people input{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-family: var(--space-mono);
    font-size: var(--fs-medium);
    font-weight: var(--fw-large);
    text-align: right;
    color: var(--very-dark-cyan);
    background: var(--very-light-grayish-cyan);
}

.container-left .people input:focus{
    outline: none;
}

.container-left .people input[type=number]::-webkit-inner-spin-button,
.container-left .people input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container-left .people input[type=number] {
    -moz-appearance: textfield;
}

#People{
    background: url(./images/icon-person.svg) var(--very-light-grayish-cyan) no-repeat;
    background-position: 1rem 50%;
    background-size: 0.8rem;
    padding-left: 3rem;
    font-family: var(--space-mono);
    font-size: var(--fs-medium);
    font-weight: var(--fw-large);
    color: var(--very-dark-cyan);
}



/* Result container style */

.container-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    width: 50%;
    background: var(--very-dark-cyan);
    border-radius: 10px;
}

.container-right .amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.container-right .amount .amount-label{
    font-weight: var(--fw-large);
    font-size: 7px;
    color: var(--white);
}

.container-right .amount .amount-label p{
    color: var(--Grayish-cyan);
}

.container-right .value-label{
    font-family: var(--space-mono);
    font-size: var(--fs-medium);
    font-weight: var(--fw-large);
    color: var(--strong-cyan);
}

.container-right .reset button{
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-family: var(--space-mono);
    font-size: var(--fs-small);
    font-weight: var(--fw-large);
    text-align: center;
    color: var(--white);
    background: var(--strong-cyan);
    cursor: pointer;
}

.container-right .reset button:hover{
    background: var(--light-grayish-cyan);
}


/* query@768px */

@media screen and (max-width: 768px){
    #container{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #container .container-left{
        width: 100%;
        height: 100%;
    }

    .container-left .tip .tip-btn .custom-tip{
        padding: 10px;
        width: 100px;
        background: var(--very-light-grayish-cyan);
        color: var(--very-dark-cyan);
        font-family: var(--space-mono);
        font-size: var(--fs-small);
        font-weight: var(--fw-large);
        text-align: left;
        border: none;

    }

    .container-right{
        width: 100%;
        height: 100%;
    }
}